* {
    box-sizing: border-box;
  }
  

  
  #search-box {
    font: inherit;
    padding: 8px;
    max-width: 320px;
    margin-bottom: 16px;
  }



  /* ---------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);



.container{
  min-width: 380px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 1px solid red; */
  padding-bottom: 0;
  margin-bottom: 0;
}

body {
  background: linear-gradient(to bottom, rgba(140,122,122,1) 0%, rgba(175,135,124,1) 65%, rgba(175,135,124,1) 100%) fixed;
  background: url(../images/coc-background.jpg) no-repeat center center fixed;
  background-size: cover;
  font: 14px/20px "Lato", Arial, sans-serif;
  margin-top: 30px;

}

.slide-container {
  margin: auto;
  width: 380px;
  text-align: center;
}

.wrapper {
  padding-top: 40px;
  /* padding-bottom: 40px; */
}

.wrapper:focus {
    outline: 0;
  }

  .page-btn{
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 18px;
    background: rgb(235, 101, 12);
    border: none;
    height: 3em;
    border-radius: 25px;
    color: #fff;
    line-height: 55px;
    font-size: 18px;
    letter-spacing: 3px;
  }
  
  .page-btn:hover, .page-btn:focus {
    background: linear-gradient(62.93deg, #ff7300 19.68%, #faf600 89.55%);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    /* border: 1px solid #f1860b; */
  }


  .form-inline{
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }



.clash-card {
  background: white;
  width: 300px;
  display: inline-block;
  margin: auto;
  border-radius: 14px + 5;
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  z-index: 9999;
}

.clash-card__image {
  background: url(../images/card-fon.jpg);
  background-size: cover;
  position: relative;
  
  margin: 0 auto;
  width: 300px;
  height: 320px;
  /* margin-bottom: px; */
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  padding-bottom: 0;
  overflow: hidden;
  display: block;
}

.clash-card__image::before{
    content: '';
    width: 300px;
    height: 300px;
    background-color: #ffffffc9;

    border-radius: 45%;
    position: absolute;
    top: -150px;
    left: -0px;

}


.clash-card__image > img {
  position: relative;

  /* justify-content: center; */
  width: 220px;
  max-height: 280px;
  margin: auto;
  margin-top: 50%;

  transform:  translate(0%, -50%) scaleY(1);

  }

  .clash-card__img:hover, .clash-card__img:focus {
    width: 260px;
  }


.card-title {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 3px;
  color: #f1860b;
}


.box-card-text{
  display: flex;
  gap: 80px;
  justify-content: center;
}

.box-card-text span{
  color: #f1860b;
}

.clash-card__unit-name {
  text-transform: uppercase;
  font-size: 26px;
  color: black;
  font-weight: 900;
  margin-bottom: 5px;
}

.clash-card__unit-description {
  padding: 20px;
  margin-bottom: 10px;  
}


.card-text{
  text-transform: uppercase;
    font-size: 18px;
    color: black;
}

.list-group{
    list-style: none;
    text-transform: uppercase;
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-left: 0;

}

.list-group-item{
  background-color: #ffb004;
  max-width: 200px;
  height: 30px;
  padding: 5px;
  margin-bottom: 30px;
  border-radius: 15px;
  font-weight: 600;
  color: #fafafa;
 
}

.list-group-item:hover, .list-group-item:focus{
  background: linear-gradient(62.93deg, #ff7300 19.68%, #faf600 89.55%);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  /* border: 1px solid #f1860b; */
}


